.brand-banner{
    background: seagreen
}

.col-img{
    height=100px;
}

.center{
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-center{
    display: inline-flex !important;
}

.spaced-out-sm{
    margin-top: 5px;
    margin-bottom: 5px;
}

.spaced-out-md{
    margin-top: 10px;
    margin-bottom: 10px;
}

.white{
    background: white;
}

.v-center{
    position: relative;
    height: 100%;
}
.centered-vert{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

.centered-horz{
}

.logo-container{
    text-align: center;
    margin-bottom: 10px
}
.logo-img{
    width: 200px;
}

.search-box{
    margin: 15px;
    padding: 0px;
}