<div class="search">
    <div class="container spaced-out-sm">
        <div class="container search-box">
            <div class="logo-container">
                <img src="../../../img/byteme-logo.jpg">
            </div>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Enter an ingredient..." ng-model="$ctrl.searchtext">

                <div class="input-group-append">
                    <button ng-click="$ctrl.addIngr($event)" class="btn btn-outline-secondary" id="inputGroup-sizing-lg">Add</button>
                    <button ng-click="$ctrl.findRecipe($event, $ctrl.searchtext)" class="btn btn-outline-secondary" id="inputGroup-sizing-lg">Find Recipes</button>
                </div>
            </div>
            <h1>{{ $ctrl.searchtext }}</h1>
        </div>
        <div>pantry will go here</div>
        <div ui-view></div>
    </div>
</div>