<div class="search">
    <div class="container spaced-out-sm">
        <div class="container search-box">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Enter an ingredient..." ng-model="$ctrl.searchText">

                <div class="input-group-append">
                    <button ng-click="$ctrl.addIngr($event, $ctrl.searchText)" class="btn btn-outline-secondary" id="inputGroup-sizing-lg">Add</button>
                    <button ng-click="$ctrl.findRecipe($event, $ctrl.searchText)" class="btn btn-outline-secondary" id="inputGroup-sizing-lg">Find Recipes</button>
                </div>
            </div>
        </div>
        <search-pantry></search-pantry>
        <div ui-view></div>
    </div>
</div>


<!--
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


>
