<div class="search">
    <div class="container spaced-out-sm">

        <div class="container search-box">
            <div class="input-group input-group-lg">

                <input type="text" required class="form-control autocomplete" placeholder="Enter an ingredient..." ng-model="$ctrl.searchText">
                <input type="number" required class="form-control autocomplete" placeholder="Enter an amount..." ng-model="$ctrl.searchAmount">
                <input type="text" required class="form-control autocomplete" placeholder="Enter a unit..." ng-model="$ctrl.searchUnit">
                <div class="input-group-append">
                    <button ng-click="$ctrl.addIngr($event, $ctrl.searchText, $ctrl.searchAmount, $ctrl.searchUnit)" class="btn btn-outline-secondary" id="inputGroup-sizing-lg">Add</button>
                    <!--<button ng-click="$ctrl.findRecipe($event, $ctrl.searchText)" class="btn btn-outline-secondary" id="inputGroup-sizing-lg">Find Recipes</button>-->
                </div>
            </div>
        </div>

        <div class="container search-box">
            <div class="input-group input-group-lg">

                <input type="text" required class="form-control autocomplete" placeholder="Enter an ingredient..." ng-model="$ctrl.searchRecipeText">
                <div class="input-group-append">
                    <!--<button ng-click="$ctrl.addIngr($event, $ctrl.searchText, $ctrl.searchAmount, $ctrl.searchUnit)" class="btn btn-outline-secondary" id="inputGroup-sizing-lg">Add</button>-->
                    <button ng-click="$ctrl.findRecipe($event, $ctrl.searchRecipeText)" class="btn btn-outline-secondary" id="inputGroup-sizing-lg">Find Recipes</button>
                </div>
            </div>
        </div>
        <search-pantry pantry-list="$ctrl.pantryList"></search-pantry>
        <div ui-view></div>
    </div>
</div>
