<div class="container spaced-out-sm">
    <div class="row">
        <div class="col center" ng-repeat="food in recipes">
            <h1 class="center"> {{ food.name }} </h1>

            <div class="card card-center spaced-out-md" style="width: 18rem;" ng-repeat="recipe in food.recipes">
              <img ng-src="{{ recipe.img_url }}" class="card-img-top col_img" alt="...">
              <div class="card-body center">
                <a href="{{'#/groceries/'+recipe.name+'/'+food.name}}" class="btn btn-success">{{ recipe.name }}</a>
                <p class="card-text"></p>
              </div>
            </div>
        </div>
    </div>
</div>