<div class="container spaced-out-sm">
    <div class="row">
        <div class="col center">
          <h1 class="recipe-name">{{$ctrl.name}}</h1>

          <ul class="ingredient-list">
            <div ng-repeat="ingredient in $ctrl.ingredients">
              <div ng-if="$ctrl.pantry.indexOf(ingredient) == -1">
                <li class="ingredient-name ingr-failure">{{ingredient}}</li>
              </div>
              <div ng-if="$ctrl.pantry.indexOf(ingredient) != -1">
                <li class="ingredient-name ingr-success">{{ingredient}}</li>
              </div>
            </div>
          </ul>
        </div>
    </div>
</div>
