.brand-banner{
    background: seagreen
}

.col-img{
    height: 100px;
}

.center{
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-center{
    display: inline-flex !important;
}

.spaced-out-sm{
    margin-top: 5px;
    margin-bottom: 5px;
}

.spaced-out-md{
    margin: 10px;
}

.white{
    background: white;
}

.v-center{
    position: relative;
    height: 100%;
}
.centered-vert{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

.main-header{
  height: 20px !important;
}

.recipe-theme{
  color: white !important;
  background: #4285F4 !important; /* Blue */
  background: #F4B400 !important; /* Yellow */
  background: #DB4437 !important; /* Red */
  background: #0F9D58 !important; /* Green */
}

.receipe-theme-border{
  border-color: #4285F4 !important; /* Blue */
  border-color: #F4B400 !important; /* Yellow */
  border-color: #DB4437 !important; /* Red */
  border-color: #0F9D58 !important; /* Green */
}

.centered-horz{
}

.recipe-title-centered{
  text-align: -webkit-center;
  margin-bottom: 10px;
}
.recipe-name{
  color: #4285F4;
  font-style: italic;
}
.hold-size{
  height: 48px;
  display: table-cell;
  vertical-align: middle;
}

.logo-container{
    text-align: center;
}
.logo-img{
    width: 150px;
}

#mainLogo{
  width: 300px;
  margin-top: 15px
}

.ingr-failure{
  color: #DB4437;
}
.ingr-success{
  color: #0F9D58;
}
.ingredient-name{
  margin-bottom: 10px;
}
.ingredient-list{
  list-style-type: none;
  padding: 0px;
}
.search-box{
    margin: 15px;
    padding: 0px;
}

.list-box{
    background-color: #f7f7f9;
    padding: 9px 14px;
    margin-bottom: 14px;
    border-top-color: rgb(225, 225, 232);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(225, 225, 232);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(225, 225, 232);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(225, 225, 232);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 286px;
    max-width: 286px !important;
    margin-top: 10px !important;
    overflow-x: hidden;
    font-size: 18px;
}
