.brand-banner{
    background: seagreen
}

.col-img{
    height: 100px;
}

.center{
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-center{
    display: inline-flex !important;
}

.spaced-out-sm{
    margin-top: 5px;
    margin-bottom: 5px;
}

.spaced-out-md{
    margin-top: 10px;
    margin-bottom: 10px;
}

.white{
    background: white;
}

.v-center{
    position: relative;
    height: 100%;
}
.centered-vert{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

.centered-horz{
}

.logo-container{
    text-align: center;
    margin-bottom: 10px
}
.logo-img{
    width: 200px;
}

.search-box{
    margin: 15px;
    padding: 0px;
}

.list-box{
    background-color: #f7f7f9;
    padding: 9px 14px;
    margin-bottom: 14px;
    border-top-color: rgb(225, 225, 232);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(225, 225, 232);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(225, 225, 232);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(225, 225, 232);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 150px;
    overflow-x: hidden;
    font-size: 18px;
}
